    {% extends 'base.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/game_details.css' %}" />

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="grid-image">
                <img class="imgs" src="{{ game.image }}" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <h1>{{ game.name }}</h1>
            <h3 class="text-warning">{{ game.price }}$</h3>
            <p> {{ game.description }} </p>
            <button type="button" class="btn btn-warning">Add to basket</button>

        </div>
    </div>

</div>

<div class="col-sm-3">
    <form role="form">
        <div class="row">
            <fieldset>
                {% for console in console_brand %}
                <div class="checkbox checkbox-warning">
                <input id="checkbox5" type="checkbox" checked="">
                <label for="checkbox5">
                                {{ console_brand }}
                            </label>
                </div>
                {% endfor %}

            </fieldset>
        </div>
    </form>
</div>


{% endblock %}