<footer id="foot">
 <div class="container">
   <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="captainConsole">
                        <span>Captain Console</span>
                     <li>
                        <a href="#">My account</a>
                      </li>

                      <li>
                        <a  id="about" href="#">About us</a>
                      </li>

                 </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="support">
                         <span>Supports</span>
                     <li>
                        <a href="#">Contact</a>
                      </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
               <ul class="language">
                          <span>Language</span>
                     <li>
                        <a href="#">English</a>
                      </li>
                    <li>
                        <a  id="icelandic" href="#">Íslenska</a>
                      </li>
                 </ul>
            </div>


       </div>
    </div>
</footer>