<div class="links">

    <div class="inner "><a href=" {% url 'homeindex' %}" class="btn " role="button" aria-pressed="true" >Home<span><br><i id="icon" class="fas fa-home"></i></span></a></li></div>
    <div class="inner "><a href="{% url 'consoleindex' %}" class="btn" role="button" aria-pressed="true">Consoles<span><br><i id="icon" class="fas fa-laptop"></i></span></a></li></div>
    <div class="inner "><a href=" {% url 'gamesindex' %}" class="btn " role="button" aria-pressed="true">Games<span><br><i id="icon" class="fas fa-gamepad"></i></span></a></li></div>

    </div>
