@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: white;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.logo_img {
    background: transparent;
    margin-top: 0;
}

.form-control {
    border-radius: 0;
    border-right: none;
}

.fa-search {
    background-color: transparent;
    color: #777;
}

.container-fluid {
    padding: 1rem;
}

.btn-default {
    color: white;
    border-left: none;
    border-radius: 0;
    margin-left: -1%;
    background-color: black;
    color: black;

}



