/*
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

*/

/* navigation */

.navbar {
    display: table;
    background-color: #2a1111;
}

#navitems{
    margin-left: 130vh;
}

ul .navbar {
    float: right;
}


.logo_img {
    position: absolute;
    top: 16%;
}

::placeholder {
    font-size: 14px;
}

#search_btn{
    border-left: none;
    border-radius: 0;
    border-color: darkslategray;!important;
    background-color: black;!important;
    color: #cccccc;!important;

}

#search_btn:hover {
    background-color: gray;

}

.form-control.mr-sm-2{
    border-radius: 0;!important;
    border-right: none;
    background-color: black;
    border-color: darkslategray;
}

.navbar-nav li {
    padding-right: .7rem;
}

.btn-outline-success {
    border: none;
}
.my-sm-0 {
    margin-left: -1.5vh;
}

.myAccount_btn{
    text-decoration: none;
    border-radius: 8px;
    margin-right: 3vh;
    justify-content: center;
    padding: 10px 32px;
    text-align: center;
    background-color: black;
    border-color: darkslategray;
}

#account_btn {
    color: white;!important;
}

.btn-group {
    position: absolute;
    left: 150px;
}

#dropdownMenuLink {
    text-decoration: none;
    color: white;
}


.myAccount:hover {
    background-color: #F1A919;
    color: #F1A919;
}
#account_btn:hover {
    background-color: #F1A919;
}

.navbar-collapse {
    padding-right: 3rem;
    padding-left: 6rem;
}

.fa-shopping-cart {
    padding: 15px 32px;
    justify-content: center;
    color: #cccccc;

}

.fa-shopping-cart:hover {
    color:  #F1A919;
}

#link_myaccount {
    text-decoration: none;
    color: darkgrey;
}
#link_myaccount:hover {
    color: black;
}

.nav-link{
    color: white;
    margin-right: 5vh;

}

.nav-link:hover{
    color: #F1A919;
}
/* slider */


.carousel-item {
    height: 100vh;
    text-transform: uppercase;
    border: none;
    border-color: transparent;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
   object-fit:cover;
   object-position:50% 50%;
    background-size: 10px;
}

.carousel-caption {
    position: absolute;
    top: 38%;
}

.carousel-caption h5 {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    width: 100%;
    left: 0;
    right: 0;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption p {
    color: white;
    font-size: 0.8rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1 rem;
}

.carousel .btn{
    border-width: medium;
    border-color: white;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: transparent;
    color: white;

}




/* links */

.links {
    padding: 90px 100px;
    width: 100%;
    text-align: center;


}

.inner {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

.inner .btn {
    padding: 15px 60px;
    border-radius: 0px;
    border-color: black;
    box-shadow: 5px 10px #888888;
    margin-top: -30px;
}



.inner .btn:hover {
    color: white;
    background-color: lightgray;
}

.inner .btn:hover #icon   {
    color: white;
}





/* footer*/

footer {
    width: 100vw;
    background-color: #33383c;
    padding: 12px 0px;
    display: block;
    box-sizing: border-box;
}

footer ul li{
    padding:1px 0px;
}

.captainConsole span , .support span ,  .language span{
   color: #FFF;
   font-weight: 800;
   padding-bottom: 3px;
   margin-bottom: 3px;
   display: block;
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 2px;
    padding-left: 10%;
}

.captainConsole li a , .support li a , .language li a{
    color:#FFF;
    letter-spacing: 2px;
    font-size: 12px;
}
.captainConsole li a  {
    padding-left: 19%;
}

#about {
    padding-left: 21%;
}

.support li a {
    padding-left: 15%;
}

.language li a {
    padding-left: 18%;
}

#icelandic {
    padding-left: 17%;
}

.captainConsole , .support , .language {
    list-style: none;
}


.row {

  display: flex;
  justify-content: space-between;
}

