.content-section {
    padding: 10px 330px;
}




#delete_btn {
    color: red;
    float: right;
}

.btn-outline-info {
    padding-bottom: 20px;
    margin-bottom: 4vh;
}

.account-heading {

}

.text-secondary {

}