 {% extends 'base.html' %}
  {% block content %}
      {% include 'picture.html' %}
      {% include 'links.html' %}

      <div class="flexContainer">

       <hr style="width:100%;text-align:center" id="line">

        <div class="flexbox-item">
            <h2>Lower prices</h2>
            <p>Our good service prices are lower than our competitors.</p>
        </div>
        <div class="flexbox-item">
            <h2>Credit cards</h2>
            <p>You var use every type of credit cards to pay for our product</p>
        </div>
        <div class="flexbox-item">
            <h2>Aur</h2>
            <p>You can uses aur to pay for products</p>
        </div>
        <div class="whatYouNeed">
            <h2 id="space">We have what you need</h2>
            <p>We sell all kinds of retro games such as Super Mario, Sonic, Call of duty etc.</p>
        </div>
        <div class="hereForYou">
            <h2 id="space">We are here for you</h2>
            <p>We would be nothing without the gamers that's why we'll always try our best to help with anything</p>
        </div>
    </div>
      {% include 'footer.html' %}
 {% endblock %}