{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/consoles.css' %}" />

<div class="container">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'item_list' %}">ALL</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'consoleindex' %}">Consoles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gamesindex' %}">Games</a>
            </li>
          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'console_by_name' %}">Name(A-Z)</a>
              <a class="dropdown-item" href="{% url 'console_by_price' %}">Price(low-high, high-low)</a>
          </div>
        </div>

      </nav>
      <!--/.Navbar-->

    <div class="container-fluid">
        <h2>Collections</h2>
        <p>Select desired brand</p>
    </div>

    <div class="row">
        <div class="col-sm-12 filter-section">
            <form role="form">
                <div class="row">
                    <fieldset>
                        {% for console in console_table %}
                        <div class="checkbox checkbox-warning">
                        <input id="{{ console.id }}" type="checkbox" checked="">
                        <label for="{{ console.id }}">
                                        {{ console.brand }}
                                    </label>
                        </div>
                        {% endfor %}
        
                    </fieldset>
                </div>
            </form>
        </div>

        <!-- {% if 'has-checkbox' in field.field.widget.attrs.class %}
            <input type="checkbox">
            {{ field }}
        {% endif %} -->

        <div class="col-sm-12 consoles">
            <div class="grid-container">
                {% for console in console_table %}
                <a href="/consoles/{{ console.id }}">
                    <div class="grid-item" href="/consoles/{{ console.id }}">
                        <img class="imgs" src="{{ console.image }}" alt="">
                        <p class="text-warning"><b>{{ console.price }}$</b></p>
                        <p class="consoleName"><b>{{ console.name }}</b></p>
                        <button type="button" class="btn btn-warning">Add to basket</button>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

  {% include 'footer.html' %}

{% endblock %}

